option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: realtor_project.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: realtor_project.settings
    PYTHONPATH: /var/app/current:$PYTHONPATH
    DB_PATH: /var/app/data/db.sqlite3
    DJANGO_ALLOWED_HOSTS: "propertism.in,www.propertism.in,propertism.com,www.propertism.com,propertism-prod.eba-rzpshqvp.us-west-2.elasticbeanstalk.com"
    DEBUG: "False"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
    /media: media

container_commands:
  01_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  02_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  03_createsu:
    command: "python manage.py createsu"
    leader_only: true
